{% extends 'main.html' %}

{% block head %}
<title>Listable</title>
{% endblock %}

{% block body %}
<div class="d-flex justify-content-center mt-4" style="min-height: 200px">
    <div class="card pb-5" style="width: 60rem;">
        <div class="card-body">
            <ul class="list-group list-group-flush">
                 <li class="list-group-item">
                     <h1>Welcome to Listable</h1>
                 </li>
                <li class="list-group-item">
                     Listable is tool where you can crete simple lists of tasks.
                 </li>
            </ul>
        </div>
    </div>
</div>

{% endblock %}