{% extends 'main.html' %}

{% block head %}
<title>Task: {{ task.title }}</title>
{% endblock %}

{% block body %}
<div class="d-flex justify-content-center mt-4" style="height: 600px">
    <form class="card pb-5" style="width: 80rem;" action="/update/task/{{ task.id }}" method="post">
        <div class="card-header">
            <div class="row align-items-center">
                <div class="card-title col my-0">
                    <input class="form-control border-0 fs-3 p-0 fw-bold bg-transparent" type="text" name="title" value="{{ task.title }}">
                </div>
                <div class="col-auto my-0">
                    <select class="form-select" name="status">
                        {% for status in statuses %}
                        <option {% if task.status == status %} selected {% endif %} value="{{ status }}">{{ status }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        </div>
        <div class="card-body">
            <textarea class="card-text form-control h-100" style="resize:none;" name="content">{{ task.content }}</textarea>
            <div class="d-flex justify-content-end">
                <a class="btn btn-danger align-middle mt-1 me-1" href="/" role="button">Cancel</a>
                <input type="submit" class="btn btn-success mt-1" value="Done">
            </div>
        </div>
    </form>
</div>

{% endblock %}